body {
  font-size: 16px;
  color: #fff;
  background-color: #7C0C40;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #41AD24;
  height: 150px;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #2424AD;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #100305;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
@media (max-width: 767px)
#collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
}
/*Header Ends*/

section{
  border: 1px solid black;
  background-color: #ADA824;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2{
  color: black;
}

